@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Advercase */
html {
  font-family: 'PolySans Slim', 'Helvetica Neue LT', sans-serif;
  background-color: #ffe9e9;
}


/* Computer Modern Serif */
@font-face {
  font-family: 'CMU Serif';
  src: url('/fonts/cmu.serif-roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Helvetica Neue LT */
@font-face {
  font-family: 'Helvetica Neue LT';
  src: url('/fonts/HelveticaNeueLTW0545Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Palatino LT Family */
@font-face {
  font-family: 'Palatino LT';
  src: url('/fonts/Palatino LT Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


/* Roman */
@font-face {
  font-family: 'Pixel';
  src: url('./fonts/PixelHackers.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* PolySans Relax */
@font-face {
  font-family: 'PolySans';
  src: url('./fonts/PolySans-Slim.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* PolySans Slim */
@font-face {
  font-family: 'PolySans Neutral';
  src: url('./fonts/PolySans-Neutral.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}